.title-vente {
    opacity: 0.7;
    background: #36AFEC;
    display: inline-block;
    padding: 3px 7px;
    color: #fff;
    border-radius: 3px;
}

.title-vente span.title {
    font-size: 17px;
    font-weight: 700;
}

.produit {}
.produit div {
    font-size: 15px;
    padding: 3px;
}
.produit div {}
.produit div input {
    height: 32px;
    width: 90px;
    display: inline-block;
}
.label {
    color: #666;
    text-transform: uppercase;
    font-size: 13px;
}
.abtn {
    padding: 3px 5px;
}

/*show command*/
.label {
    text-transform: uppercase;
}
.detail {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.detail div {}
.detail div span.label {
    color: #666;
    font-size: 14px;
}

.produits {
    max-height: 410px;
    overflow-y: auto;
    /*border: 1px solid #ddd;*/
}
.produit {
    padding: 5px;
    border-bottom: 1px dashed #ddd;
}
.end {
    /*border-bottom-color: transparent;*/
    border-bottom: 1px solid #ddd;
}
.produit div {
    margin-top: 6px;
    font-size: 14px;
}
.produit div span.label {
    font-size: 12.5px;
    color: #111;
}

.prixTotal {
    padding: 8px;
    text-align: right;
    /*border-top: 1px solid #ddd;*/
}
.prixRemise {
    margin-top: 20px;
    padding: 5px;
    text-align: right;
}
.prixTotal .label {
    color: #000;
    font-size: 15px;
}
.prixRemise .label {
    color: #000;
    font-size: 12px;
}
.prixTotal .value {
    color: #666;
    font-size: 15px;
    font-style: italic;
}
.prixRemise .value {
    color: #666;
    font-size: 12px;
    font-style: italic;
}

.addProduitOffre {}
.addProduitOffre div {
    font-size: 14px;
}
.addProduitOffre div #qtiteProduitOffre {
    width: 110px;
    background-color: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 30px;
    font-weight: 600;
    color: #666666;
    padding: 8px 16px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.7;
}

.addProduitOffre div #qtiteProduitOffre:focus {
    border-color: #9A9A9A;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
}
.addProduitOffre .label {
    text-transform: uppercase;
    color: #666;
    font-size: 13px;
}
.addProduitOffre .clear {
    padding: 10px;
}